body {
  background-color: #f2f2f2;
  margin-top: 2%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:2%
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.flex-display {
  display: flex;
}


#header {
  align-items: center;
}

.dropdown{
  margin: 0;
  padding: 5px;
}
.dcc_control{
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
  flex: 1 0 auto;
  overflow: auto;
}
.graph{
    margin: 0 0;
    padding: 0 1px;
    flex: 1 1 auto;
}

.graph_container{
    flex: 1 0 auto;
    display: flex;
    overflow: hidden;
    width: 60vw;
    min-height: 30rem;
}



.button_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.tab_container{
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.tab{
    background-color: #f2f2f2 !important;
    border-radius: 5px 5px 0px 0px;
    border-width: 0px !important;
    padding: 10px 5px 15px 5px !important;
    font-size: 0.75em;
}

.tab--selected{
   background-color: #f9f9f9 !important;
   box-shadow: 2px 2px 2px lightgrey !important;
}

.main_row{
    flex:1;
    display:flex;
    flex-flow:row wrap;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

.control_container{
    height:90vh;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column
}

.separator{
    display:none;
    width: 2px;
    height: 90%;
    margin: 10px;
    flex: 0 0 auto;
    background: lightgrey;
    margin-top: auto;
    margin-bottom: auto;

}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .graph_container{
        flex: 0 0 60vw;
        display: flex;
        overflow: hidden;
        width: 60vw;
        min-height: 30rem;
    }
    .tab{
        font-size: 1em;
    }
    .separator{
        display:unset
    }


    .main_row{
        flex:1;
        display:flex;
        flex-flow:row nowrap;
        overflow:hidden;
    }

    #mainContainer {
      display: flex;
      flex-direction: column;
      height:96vh;
    }

    .control_container{
        height:unset
    }
}
